:root {
    /* css variables: https://developer.mozilla.org/en-US/docs/Web/CSS/var */
    --primary-color: #f0bab9;
    --secondary-color: #ffffff;
    --tertiary-color: #de5f5c;
    --error-color: #EE3A23;
}

.background {
    background-color: #ffffff;
    margin: 0;
    counter-reset: section;
    width: 80%;
    height: 80%;
    align: center;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: -1;
}


.header {
    /* Flexbox: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    padding: 4px 20px;

}

.button {
  background-color: var(--primary-color);
  border: none;
  color: #de5f5c;
  padding: 6px 8px 4px 8px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  font-family: Cambria,Georgia,serif;

}

.button-group {
    display: flex;
    justify-content: space-between;
}

.header_home {
    font-size: 36px;
    line-height: 20px;
    height: 120px;
    text-decoration: none;
    color: var(--secondary-color);
    font-family: Cambria,Georgia,serif;
}

.img {
    font-size: 36px;
    line-height: 20px;
    height: 120px;
    text-decoration: none;
    color: var(--secondary-color);
    font-family: Cambria,Georgia,serif;
}

.body {
overflow: hidden;
}

.search {
  font-family: Cambria,Georgia,serif;
  font-size: 12px;
  position:absolute;
  left:250px;
}

.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  align: left;
  z-index: 1;
  top: 10;
  left: 0;
  background-color: var(--secondary-color);
  overflow-x: hidden;
  padding-top: 0px;
  font-family: Cambria,Georgia,serif;
  }

.sidenav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 14px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 250px; /* Same as the width of the sidenav */
  font-family: Cambria,Georgia,serif;
  font-size: 12px;
  overflow: auto;
  overflow-x: hidden;
  height: 800px;
}

.spinner-recipe {
  margin-left: 325px;
  color: #de5f5c;
}

.spinner-category {
  margin-left: 325px;
}

/* Recipe Title */
.recipetitle {
  font-size: 16px;
  text-align: center;
  background: white;
}

.columnleft {
  float: left;
  width: 35%;
}

.columnright {
  float: right;
  width: 65%;
}

.column {
  float: left;
  width: 65%;
}

.recipemetadata {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}


.div-1{
  font-weight:bold;
  display: inline-block;
  color: #de5f5c;
}

.div-2{
  font-weight:bold;
  display: inline-block;
  color: #818181;
}

input[type="number"] {
   width:45px;
}

.h2-1{
  display: inline-block;
  color: #de5f5c;
}

.times{
 display: inline-block;
}

.text-area {
  list-style-type: decimal;
  margin-left : 1em;
  outline: none;
  font-color: #818181;
}

.text-area div {
  display: list-item;
  font-color: #818181;
}

.text-area-update div {
  font-color: #818181;
  display: list-item;
}


.card {
padding: 1rem;
border: 1px solid grey;
margin: 1px;
}

.error {
    color: var(--error-color);
    border: 1px solid var(--error-color);
    padding: 8px;
}

.validated-field:invalid {
    outline: 2px solid var(--error-color);
}
.validated-field:focus:invalid {
    color: var(--error-color);
}

.card-content {
    max-width: 500px;
}

.card-content .form-field {
    display: flex;
    flex-direction: column;
}

.tags {
    display: flex;
    flex-direction: row;
}

.tag {
    font-size: 12px;
    margin: 0 10px;
    padding: 4px 8px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    position: relative;
    border-radius: 16px;
}


.splash {
    width: 100%;
    height: 90%;
    background-color: #de5f5c;
}

.stretch {
    width:100%;
    height:90%;
    margin: auto;
}


.hidden {
    display: none;
}

/* table styles */

td {
    color: #818181;
    padding: 20px;
}

th {
    border-top: 5px solid var(--primary-color);
    padding: 20px;
    text-align: left;
    border-bottom: 5px solid var(--primary-color);
    color: #818181;
}

a {
    color: var(--tertiary-color);
    text-decoration: none;
}

.norecipes {
    padding: 20px;
    text-align: left;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}